<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <title>Add a new Task</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="formContainer">
    <h1 id="title">New Task</h1>

    <form action="/users/<%= user._id %>/tasks" method="POST" class="editForm">
      <label for="date">Date:</label>
      <input type="text" name="date" id="date" required />

      <label for="time">Time:</label>
      <input type="text" name="time" id="time" required />

      <label for="note">Task:</label>
      <input type="text" name="note" id="note" required />

      <button type="submit">Add Task</button>
    </form>
  </div>
</body>
</html>